@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fcfcfc;
  /* background-color: #f5eee7; */
  background-size: 10%;
  overflow-x: hidden;
}

#page-content {
  margin: 0 auto;
  padding: 0px !important;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  z-index: 0;
}

.page-view {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-BlkCn';
  src: url('/assets/fonts/HelveticaNeueLTPro-BlkCn.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Hv';
  src: url('/assets/fonts/HelveticaNeueLTPro-Hv.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-HvCn';
  src: url('/assets/fonts/HelveticaNeueLTPro-HvCn.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Lt';
  src: url('/assets/fonts/HelveticaNeueLTPro-Lt.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueLTPro-LtIt';
  src: url('/assets/fonts/HelveticaNeueLTPro-LtIt.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('/assets/fonts/HelveticaNeueLTPro-Md.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-MdCn';
  src: url('/assets/fonts/HelveticaNeueLTPro-MdCn.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTPro-MdIt';
  src: url('/assets/fonts/HelveticaNeueLTPro-MdIt.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica-neue-roman';
  src: url('/assets/fonts/helvetica-neue-roman.otf') format('opentype');
}

@font-face {
  font-family: 'HelveticaNeueLTProBd';
  src: url('/assets/fonts/HelveticaNeueLTProBd.otf') format('opentype');
}

body.page-is-transitioning #page-content {
  opacity: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

section {
  margin-left: 20px;
  margin-right: 20px;
  z-index: 1;
}

div,
p {
  font-family: 'HelveticaNeueLTPro-Lt', sans-serif;
  color: #fcfcfc;
  font-weight: 300;
  word-spacing: 0.01rem;
  font-size: 18px;
  line-height: 1.7rem;
  text-align: left;
  z-index: 1;
}

@media (max-width: 900px) {

  div,
  p {
    font-size: 16px;
    line-height: 1.55rem;
    letter-spacing: 0.04rem;
    word-spacing: 0.01rem;
  }
}

h1,
h2,
h3,
h4 {
  color: #fcfcfc;
  text-align: center;
}

h4 {
  font-family: 'HelveticaNeueLTPro-Hv', sans-serif;
  letter-spacing: -0.5px;
  font-size: 22px !important;
}

h1 {
  font-family: 'HelveticaNeueLTProBlkEx', sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 1px;
}

@media (max-width: 940px) {
  h1 {
    font-size: 41px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px !important;
    line-height: 38px !important;
    letter-spacing: 0.4px;
  }
}

h2 {
  font-family: 'HelveticaNeueLTPro-Md', sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: white;
  text-align: left;
  font-weight: 600;
  font-size: 3.5rem;
  letter-spacing: 1px;
  line-height: 4rem;
}

@media (max-width: 900px) {
  h2 {
    font-size: 32px !important;
    line-height: 40px !important;
    font-weight: 700;
  }
}

h3 {
  font-family: 'MYRIADPRO-SEMIBOLD', sans-serif;
  text-transform: none;
  text-align: left;
  font-size: 55px !important;
  line-height: 60px !important;
  font-weight: 700;
}

@media (max-width: 900px) {
  h3 {
    text-transform: uppercase;
    font-size: 23px !important;
    line-height: 30px !important;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px 0px 40px 0px !important;
  }
}

h4 {
  font-size: 26px;
  line-height: 35px !important;
  text-align: left;
}

@media (max-width: 900px) {
  h4 {
    font-size: 20px !important;
    line-height: 35px !important;
  }
}

html::-webkit-scrollbar {
  width: 11px;
  background-color: #2b2b2b;
}

html::-webkit-scrollbar-thumb {
  background-color: #aeeb56;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

[data-observed] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

.hamburger .line {
  width: 100%;
  border-radius: 100px;
  height: 1px;
  background-color: #f5f5f5;
  transition: all 0.4s ease;
}

.hamburger .line:nth-child(1) {
  transform-origin: top left;
}

.hamburger .line:nth-child(2) {
  opacity: 1;
}

.hamburger .line:nth-child(3) {
  transform-origin: bottom left;
}

.hamburger .open:nth-child(1) {
  transform: rotate(33deg);
}

.hamburger .open:nth-child(2) {
  opacity: 0;
}

.hamburger .open:nth-child(3) {
  transform: rotate(-33deg);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 2px,
      transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.wrap {
  width: 100%;
  height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sp {
  text-align: center;
  margin-top: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  opacity: 0.8;
  font-size: 1.5rem;
}

.quote {
  margin-top: 0px;
  font-size: clamp(2rem, 6rem, 7vw);
  line-height: 76px;
  text-align: center;
  overflow: hidden;
  color: #dfdcff;
}

.split-line {
  overflow: hidden;
}

.word {
  display: inline-block;
  white-space: pre;
}

.fade-mask {
  background: linear-gradient(to right,
      #212528 0%,
      rgba(33, 37, 40, 0) 10%,
      rgba(33, 37, 40, 0) 90%,
      #212528 100%);
}

@keyframes fadeOut {
  0% {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2);
  }
}

img[alt="Divinitum"] {
  visibility: hidden;
  opacity: 0;
}

.reveal-hidden {
  visibility: hidden;
  opacity: 0;
}



.progress-bar-contacts-form-span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  overflow: hidden;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@media (min-width: 1600px) {
  .text-glass-squares {
    margin-top: -14rem !important;
  }
}

html {
  scroll-behavior: smooth;
}
